@mixin rounded ($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin shadow ($x, $y, $blur, $color) {
	-webkit-box-shadow: $x $y $blur $color;
	-moz-box-shadow: $x $y $blur $color;
	-o-box-shadow: $x $y $blur $color;
	box-shadow: $x $y $blur $color;
}

@mixin shadow-inset ($x, $y, $blur, $color) {
	-webkit-box-shadow: inset $x $y $blur $color;
	-moz-box-shadow: inset $x $y $blur $color;
	-o-box-shadow: inset $x $y $blur $color;
	box-shadow: inset $x $y $blur $color;
}

@mixin linear-gradient ($from, $to) {
	background-color : $to; // couleur de secours pour les vieux navigateurs
	background-image : -moz-linear-gradient($from, $to); // Mozilla Firefox
	background-image : -o-linear-gradient($from, $to); // Opera
	background-image : -webkit-gradient(linear, left top left bottom, color-stop(0, $from), color-stop(1, $to)); // Safari 4+, Chrome 1+
	background-image : -webkit-linear-gradient($from, $to); // Chrome 11+
	background-image : -ms-linear-gradient($from, $to); // Internet Explorer 10
	background-image : linear-gradient($from, $to); // pour plus tard
}

@mixin transition ($property) {
	-webkit-transition: $property .2s ease;
	-moz-transition: $property .2s ease;
	-o-transition: $property .2s ease;
	transition: $property .2s ease;
}

@mixin box-sizing {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

// propre au site


@mixin icone_ronde ($pourcentage) {
		width: $pourcentage;
		height: $pourcentage;
		margin-top: 30px;
		margin-bottom: 20px;
		border: 5px solid #fff;
		padding: 0;
		@include rounded (100px);
		@include shadow (0px, 0px, 5px, $color-ombre);

	}
